@page
@model SeguimientoNutricional.App.Frontend.Pages.PaginasApp.PaginaPacienteModel
@{
}

<h1>Lista Pacientes</h1> <br>

<div>
    <a class="btn btn-success" asp-page="./PaginaCrear">Crear Nuevo Paciente</a>
    <a class="btn btn-primary" asp-page="./PaginaCrear">Crear Nuevo Paciente</a>
</div><br>

@if (Model.Pacientes.Count() > 0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">N° Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Genero</th>
                <th scope="col">Numero Telefono</th>
                <th scope="col">Ciudad</th>
                <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var p in Model.Pacientes)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.DocumentoIdentidad</td>
                    <td>@p.Nombre</td>
                    <td>@p.Apellido</td>
                    <td>@p.FechaNacimiento</td>
                    <td>@p.Telefono</td>
                    <td>@p.Genero</td>
                    <td>@p.Ciudad</td>
                    <td>
                        <a class="btn btn-outline-secondary" >Detalle</a>
                        <a class="btn btn-outline-warning" asp-page="../PaginasApp/PaginaEditar" asp-route-pacienteId="@p.Id">Editar</a>
                        <a class="btn btn-outline-danger" >Borrar</a>
                    </td>
                </tr>
            }

            <!--
                ##################
                Organizar la tabla que muestra la lista de pacientes
                Elegir que informacion va a aparecer
            -->
         </tbody>

    </table>

}
else
{
    <p>No hay Pacientes</p>
}
